.cnTextArea{
    box-sizing: border-box;
    border: none;
    background-color: white;
    padding: 10px;
    outline:  none;
    resize: none;
    width: 85%;
}
.cnTextAreaWrapper{
    position:relative ;
    background: white;
    border-radius: 7px;
}
.cnSendButton{
    position: absolute;
    bottom: 5px;
    right: 5px;
}