.cnNavbarRoot{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}
.cnNavbarWrapper{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
}
.cnNavbarLink{
    font-size: 20px;
    font-family: "JetBrains Mono Thin", serif;
    font-weight: 600;
    background: linear-gradient(100deg, #ab3d95 20%, #1c6aa9 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}